/* Write your code here. */
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("https://assets.ccbp.in/frontend/react-js/congrats-card-bg.png");
  height: 100vh;
  background-size: cover;
  text-align: center;
  align-items: center;
  font-family: Roboto;
}
.cardContainer {
  background-color: #cffafe;
  border-radius: 8px;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
}

@media screen and (max-width: 768px) {
  .cardContainer {
    width: 100%;
  }
}
